<div class="wrapper">
  <app-navbar></app-navbar>
  <div class="card m-1">
    <div class="card-header">
      <h5 style="text-align: center;">Guia De Remision - transportista</h5>
    </div>
    <div class="card-body flex">
      <div class="col-12 col-md-4 col-lg-4 col-sm-6">
        <div class="row">
          <div class="col-md-5"><label>TRANSPORTISTA <b style="color: red;">(*)</b></label></div>
          <div class="col-md-7"><div class="input-group mb-1">
            <input type="text" class="form-control" readonly [(ngModel)]="transportista.razonsocialtransportista">
            <div class="input-group-append">
              <button class="input-group-text" (click)="abrirModal(Transportista)">...</button>
            </div>
            </div></div>
        </div>
      </div>
      <div class="col-md-4 col-lg-4 col-sm-6 col-12">
        <div class="row">
          <div class="col-md-6"><label class="w-100 center">FECHA EMISION<b
                style="color: red;">(*)</b></label></div>
          <div class="col-md-6"><input type="datetime-local"
              [(ngModel)]="fecha_emision" name="fecha_emision"
              class="form-control"></div>
        </div>
      </div>
      <div class="col-md-4 col-lg-4 col-sm-6 col-12">
        <div class="row">
          <div class="col-md-6">
            <label class="w-100 center">TRASLADO<b style="color: red;">(*)</b></label>
          </div>
          <div class="col-md-6">
            <input type="date" [(ngModel)]="fecha_traslado" class="form-control">
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 col-sm-6">
        <div class="row">
          <div class="col-md-5"><label class="w-100">SERIE DE GUIA <b
                style="color: red;">(*)</b></label></div>
          <div class="col-md-7">
            <div class="input-group mb-1">
              <select class="form-select">
                <option value>Seleccione una serie</option>
                <option value="{{item.SERIE}}" *ngFor="let item of arraySerie">{{item.SERIE|
                  slice : 0 : 4}}</option>
              </select>
              <div class="input-group-append">
                <button class="input-group-text">...</button>
              </div>
            </div></div>
        </div>
      </div>
      <div class="col-md-6 col-lg-8 col-sm-6">
        <div class="row">
          <div class="col-md-3"><label class="w-100 center">PTO PARTIDA <b style="color: red;">(*)</b></label></div>
          <div class="col-md-9"><div class="input-group mb-1 w-100">
            <select class="form-select " aria-label=".form-select-sm example">
              <option value="">Seleccione un origen</option>
              <option value="{{item.id}}" *ngFor="let item of []">{{item.text}}</option>
            </select>
            <div class="input-group-append">
              <button class="input-group-text">...</button>
            </div>
          </div></div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 col-sm-6">
        <div class="row">
          <div class="col-md-5"><label class="w-100 ">PESO BRUTO <b
                style="color: red;">(*)</b></label></div>
          <div class="col-md-7">
            <div class="input-group mb-1">
              <input type="text" class="form-control"
                (keypress)="validarDecimal($event)" [(ngModel)]="pesoBruto">
              <div class="input-group-append bd-highlight">
                <select class="form-select "aria-label=".form-select-sm example" [(ngModel)]="medida">
                  <option value="{{item.id}}" *ngFor="let item of medidas">{{item.text}}</option>
                </select></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-8 col-sm-6">
        <div class="row">
          <div class="col-md-6 col-lg-3"><label class="w-100 center">DESTINATARIO
              <b style="color: red;">(*)</b></label></div>
          <div class="col-md-6 col-lg-9"><div class="input-group">
              <input type="text" class="form-control" readonly
                name="destinatario_input">
              <div class="input-group-append">
                <button class="input-group-text">...</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 col-sm-6">
        <div class="row">
          <div class="col-md-6 col-lg-5">
            <label class="w-100">NRO BULTOS</label>
          </div>
          <div class="col-md-6 col-lg-7">
            <input type="text" class="form-control"
              (keypress)="validarNumero($event)" [(ngModel)]="Nrobultos">
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-8 col-sm-6">
        <div class="row">
          <div class="col-md-6 col-lg-3"><label class="w-100 center">PTO LLEGADA <b style="color: red;">(*)</b></label></div>
          <div class="col-md-6 col-lg-9"><select class="form-select " aria-label=".form-select-sm example">
            <option value="">Seleccione un destino</option>
            <option value="{{item.id}}" *ngFor="let item of destino">{{item.text}}</option>
          </select></div>
        </div>
      </div>
      <div class="col-md-6 col-lg-10 col-sm-6">
        <div class="row">
          <div class="col-md-6 col-lg-2"><label class="w-100">OBSERVACIONES</label></div>
          <div class="col-md-6 col-lg-10"><input type="text" class="form-control"
              [(ngModel)]="observaciones"></div>
        </div>
      </div>
      <div class="col-md-8 col-lg-2 col-sm-6">
        <div class="row">
            <div class="mt-auto float-end bd-highlight center">
              <button (click)="abrirModal(referenciados)" type="button" class="btn btn-primary position-relative">
                Importar GRE
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                  {{documentosReferenciados.length}}
                  <span class="visually-hidden">Total de documentos</span>
                </span>
              </button>
          </div>
        </div>
      </div>
      <div class="col-md-8 col-lg-4 col-sm-6">
        <div class="table-responsive scroll-color" style="flex: 65%;height:200px">
          <table class="table table-sm">
            <thead class="table-light">
              <tr>
                <th scope="col" style="width: 120px;">Guia</th>
                <th scope="col">N° Doc Emisor</th>
                <th scope="col">Fecha Emisión</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of []| paginate: {id:'productoGuia', itemsPerPage: 8, currentPage: pageProductGuia } ; let i = index">

              </tr>
              <tr>
                <td>T999-00000001</td>
                <td>12345678912</td>
                <td>01/04/2023</td>
              </tr>
              <tr>
                <td>T999-00000002</td>
                <td>12345678912</td>
                <td>01/04/2023</td>
              </tr>
              <tr>
                <td>T999-00000003</td>
                <td>12345678912</td>
                <td>01/04/2023</td>
              </tr>
              <tr>
                <td>T999-00000001</td>
                <td>12345678912</td>
                <td>01/04/2023</td>
              </tr>
              <tr>
                <td>T999-00000002</td>
                <td>12345678912</td>
                <td>01/04/2023</td>
              </tr>
              <tr>
                <td>T999-00000003</td>
                <td>12345678912</td>
                <td>01/04/2023</td>
              </tr>
              <tr>
                <td>T999-00000001</td>
                <td>12345678912</td>
                <td>01/04/2023</td>
              </tr>
              <tr>
                <td>T999-00000002</td>
                <td>12345678912</td>
                <td>01/04/2023</td>
              </tr>
              <tr>
                <td>T999-00000003</td>
                <td>12345678912</td>
                <td>01/04/2023</td>
              </tr>
              <tr>
                <td>T999-00000001</td>
                <td>12345678912</td>
                <td>01/04/2023</td>
              </tr>
              <tr>
                <td>T999-00000002</td>
                <td>12345678912</td>
                <td>01/04/2023</td>
              </tr>
              <tr>
                <td>T999-00000003</td>
                <td>12345678912</td>
                <td>01/04/2023</td>
              </tr>
            </tbody>
         </table>
      </div>
      </div>
      <div class="col-md-8 col-lg-8 col-sm-6">
        <div class="table-responsive " style="flex: 65%;height:200px">
          <table class="table table-sm">
            <thead class="table-light">
              <tr>
                <th scope="col" style="width: 120px;">Codigo</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Um</th>
                <th scope="col" style="width: 400px;">Descripcion</th>
                <th scope="col">opt</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of listadoProductoDetalles; let i = index">
                <td >{{item.codigo}}</td>
                <td>{{item.cantidad}}</td>
                <td>{{item.unidadmedida}}</td>
                <td>{{item.descripcion}}</td>
                <td><i class="fa-solid fa-trash" style="color: red;cursor: pointer;"
                    (click)="borrarListadoProductoDetalles(item.codigo,item.descripcion,item.cantidad,item.unidadmedida)"></i>
                </td>
              </tr>
            </tbody>
         </table>
        </div>
          <div class="col-12 mt-3">
            <button class="btn btn-primary">Declarar</button>
        </div>
      </div>
    </div>
  </div>
  <ng-template #Empaque>
    <div class="card">
      <div class="card-header">
        <h5>EMPAQUE</h5>
      </div>
      <div class="card-body" style="min-height: 200px;">
        <div class="row mb-2">
          <div class="col-4">
            <label>Desde:</label>
            <input type="datetime-local" [(ngModel)]="desde" class="form-control">
          </div>
          <div class="col-4">
            <label>Hasta:</label>
            <input type="datetime-local" [(ngModel)]="hasta" class="form-control">
          </div>
          <div class="col-4">
            <label>Filtrar:</label>
            <div class="input-group">
              <input type="text" [(ngModel)]="filtroGuia"  class="form-control">
              <div class="input-group-append">
                <button class="input-group-text" ><i class="fas fa-search"
                    style="height: 23px;"></i></button>
              </div>
            </div>
          </div>
        </div>
        <div class="table-responsive" style="max-height: 400px;">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>EMPAQUE</th>
                <th scope="col">DETALLES</th>
              </tr>
            </thead>
            <tbody>
              <tr  *ngFor="let item of guias | filter: filtroGuia:['serie']| paginate:{id:'pguia', itemsPerPage: 8, currentPage: pageGuia }">
                <td style="width: 100px;">
                  <span class="badge rounded-pill bg-light text-dark">Cod: {{item.codigoEmpaque}}</span>
                <br>
                <span class="badge rounded-pill bg-light text-dark">O/Compra: {{item.ordenCompra}}</span>
                <br>
                <span class="badge rounded-pill bg-light text-dark">fecha: {{item.fechaCreacion|date:'dd/MM/yyyy'}}</span>
                <br>
                <span class="badge rounded-pill bg-light text-dark">Cliente: {{item.numeroDocumentoAdquiriente}}</span>
                </td>
                <td><div style="display: flex; flex-wrap: wrap;">
                    <div *ngFor="let p of [1,2,3]">
                      <div>

                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div style="text-align: center;"><pagination-controls id="pguia"
            (pageChange)="pageGuia= $event"></pagination-controls></div>
        <div style="display:flex;justify-content: flex-end; text-align: right;">
          <button class="btn btn-danger" (click)="cerrarModal()" style="width:
            100px;">Salir</button>
          <button class="btn btn-primary"
            style="width: 100px;margin-left: 10px;">Asignar</button>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template #referenciados>
    <div class="card">
      <div class="card-header">
        <div style="display: flex; flex-wrap: wrap;justify-content: center;">
          <div>
            <h5>GUIAS DE REMISIÓN&nbsp;&nbsp;</h5>
          </div>
      <!--     <div>
            <button class="input-group-text" (click)="abrirModal(CrudRef)">+</button>
          </div> -->
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive" style="height: 400px;">
          <table class="table table-bordered table-hover" style="width: 100%;">
            <thead>
              <tr>
                <th scope="col">Tipo Doc</th>
                <th scope="col">N° Doc Rel</th>
                <th scope="col">N° Doc Emisor</th>
                <th scope="col">Tipo Doc Emisor</th>
                <th>Opt</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of documentosReferenciados">
                <td > {{item.tipoDocumentoDocRel}}</td>
                <td > {{item.numeroDocumentoDocRel}}</td>
                <td > {{item.numerodocumentoemisorDocRel}}</td>
                <td > {{item.tipoDocumentoEmisorDocRel}}</td>
                <td ><i (click)="borrarRef(item.codigoDocumentoDocRel,item.tipoDocumentoDocRel,item.numeroDocumentoDocRel,item.numerodocumentoemisorDocRel,item.tipoDocumentoEmisorDocRel)"
                  class="fa-solid fa-trash" style="color: red;cursor: pointer;"></i></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template #CrudRef>
    <div class="card">
      <div class="card-header">
        <h5>Agregar Documento Referenciados</h5>
      </div>
      <div class="card-body">
        <form class="margen-modal" (ngSubmit)="crearRef(docref)" #docref="ngForm" id="docref">
          <div class="form-group row">
            <label for="input" class="col-sm-3 col-form-label" style="width:
              197px"><a style="color: red;">(*)</a> Tipo
              Doc:</label>
            <div class="col-sm-8">
              <select [(ngModel)]="tipoDocumentoDocRel"  class="form-select"
                name="tipoDocumentoDocRel" required>
                <option value="01">Factura</option>
                <option value="03">Boleta de venta</option>
                <option value="09">Guia de Remision</option>
                <option value="50">DAM</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label for="input" class="col-sm-3 col-form-label" style="width:
              197px"><a style="color: red;">(*)</a>
              N° Doc Rel:</label>
            <div class="col-sm-8">
              <input type="text" ngModel class="form-control"
                [ngClass]="{'is-invalid':
                docref.submitted&&docref.controls['numeroDocumentoDocRel'].errors}"
                name="numeroDocumentoDocRel"
                 required>
            </div>
          </div>
          <div class="form-group row">
            <label for="input" class="col-sm-3 col-form-label" style="width:
             197px"><a style="color: red;">(*)</a>
              N° Doc Emisor:</label>
            <div class="col-sm-8">
              <input type="text" maxlength="11" ngModel class="form-control"
                [ngClass]="{'is-invalid':
                docref.submitted&&docref.controls['numerodocumentoemisorDocRel'].errors}" name="numerodocumentoemisorDocRel"
                 required>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-3">
              <label for="input" class="col-sm-3 col-form-label" style="width:
              180px;"><a style="color: red;">(*)</a> Tipo
              Doc Emisor:</label>
            </div>
            <div class="col-sm-8">
              <select [(ngModel)]="tipoDocumentoEmisorDocRel" class="form-select"
                name="tipoDocumentoEmisorDocRel" required>
                <option value="1">DNI</option>
                <option value="4">CARNET DE EXTRANJERIA</option>
                <option value="6" >RUC</option>
                <option value="7">PASAPORTE</option>
              </select>
            </div>
          </div>
        </form>
        <div class="row mt-2">
          <div style="text-align: right;">
            <button class="btn btn-danger" style="width: 80px;margin-right: 5px;"
              (click)='salir()'>Salir</button>
            <button class="btn btn-success" style="width: 90px;" form="docref"
              type="submit">Aceptar</button>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template #Transportista>
    <div class="card">
      <div class="card-header">
        <div class="container">
          <h5>TRANSPORTISTA &nbsp; &nbsp;</h5>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-3">
            <label style="width: 150px;">TRANSPORTISTA</label>
          </div>
          <div class="col-9">
            <div class="input-group mb-1">
              <input type="text" [(ngModel)]="transportista.razonsocialtransportista" name="filterTransportista" class="form-control">
              <div class="input-group-append">
                <button class="btn btn-secondary" (click)="abrirModal(CrudTransportista)">+</button>
              </div>
            </div>
          </div>
        </div>
        <div class="table-responsive" style="height: 400px;">
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th scope="col">N° Doc</th>
                <th scope="col">Tipo Doc</th>
                <th scope="col">Razon social</th>
                <th scope="col">N° Registro MTC</th>
                <th scope="col" style="text-align: center;">Opt</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of transportistas|filter:filterTransportista:['numerodocumentotransportista','razonsocialtransportista']" style="cursor: pointer;">
                <th scope="row" (click)="asignarTransportista(item)">{{item.numerodocumentotransportista}}</th>
                <td (click)="asignarTransportista(item)">{{item.tipodocumentotransportista}}</td>
                <td (click)="asignarTransportista(item)">{{item.razonsocialtransportista}}</td>
                <td (click)="asignarTransportista(item)">{{item.numeroregistromtc}}</td>
                <td style="color: red;cursor: pointer;text-align: center;" (click)="borrarTransportista(item.numerodocumentotransportista)"><i class="fa-solid fa-trash"
                  ></i>
              </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template #CrudTransportista>
    <div class="card">
      <div class="card-header">
        <h5>Registrar Transportista</h5>
      </div>
      <div class="card-body">
        <form (ngSubmit)="crearTransportista(Transportista)" #Transportista="ngForm" id="transportista">
          <div class="form-group row">
            <label for="input" class="col-sm-2 col-form-label" style="width: 160px;"><a style="color: red;">(*)</a> N°
              Doc:</label>
            <div class="col-sm-9">
              <input type="text" ngModel class="form-control" maxlength="11"
                [ngClass]="{'is-invalid': Transportista.submitted&&Transportista.controls['numerodocumentotransportista'].errors}"
                name="numerodocumentotransportista" placeholder="Ingrese el numero de documento" required>
            </div>
          </div>
          <div class="form-group row">
            <label for="input" class="col-sm-2 col-form-label" style="width: 160px;"><a style="color: red;">(*)</a> Tipo
              Doc:</label>
            <div class="col-sm-9">
              <select ngModel [(ngModel)]="tipodocTrans" class="form-select" name="tipodocumentotransportista" required>
                <option value="1">DNI</option>
                <option value="4">CARNET DE EXTRANJERIA</option>
                <option value="6">RUC</option>
                <option value="7">PASAPORTE</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label for="input" class="col-sm-2 col-form-label" style="width: 160px;"><a style="color: red;">(*)</a> Razon
              Social:</label>
            <div class="col-sm-9">
              <input type="text" ngModel class="form-control"
                [ngClass]="{'is-invalid': Transportista.submitted&&Transportista.controls['razonsocialtransportista'].errors}"
                name="razonsocialtransportista" placeholder="Ingrese la razón social" required>
            </div>
          </div>
          <div class="form-group row">
            <label for="input" class="col-sm-2 col-form-label" style="width: 160px;">N°
              Registro Mtc:</label>
            <div class="col-sm-9">
              <input type="text" ngModel class="form-control"
                [ngClass]="{'is-invalid': Transportista.submitted&&Transportista.controls['numeroregistromtc'].errors}"
                name="numeroregistromtc" placeholder="Ingrese el N° registro Mtc">
            </div>
          </div>
        </form>
        <div class="row mt-2">
          <div style="text-align: right;">
            <button class="btn btn-danger" style="width: 80px;margin-right: 5px;" (click)='salir()'>Salir</button>
            <button class="btn btn-success" style="width: 90px;" form="transportista" type="submit">Aceptar</button>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template #Origen>
    <div class="card">
      <div class="card-header">
        <div class="container">
          <h5>ORIGEN &nbsp; &nbsp;</h5>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-3">
            <label style="width: 150px;">ORIGEN</label>
          </div>
          <div class="col-9">
            <div class="input-group mb-1">
              <input type="text" [(ngModel)]="filterOrigen" name="filterOrigen" class="form-control">
              <div class="input-group-append">
                <button class="btn btn-secondary" (click)="abrirModal(CrudOrigen)">+</button>
              </div>
            </div>
          </div>
        </div>
        <div class="table-responsive" style="height: 400px;">
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th scope="col">N° Doc Emisor</th>
                <th scope="col">Ubigeo</th>
                <th scope="col">Dirección</th>
                <th scope="col" style="text-align: center;">Opt</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of origenes|filter:filterOrigen:['numerodocumentoemisor','ubigeoorigen','direccionorigen']">
                <th scope="row">{{item.numerodocumentoemisor}}</th>
                <td>{{item.ubigeoorigen}}</td>
                <td>{{item.direccionorigen}}</td>
                <td style="text-align: center;cursor: pointer;"
                  (click)="borrarOrigen(item);"><i
                    class="fa-solid fa-trash" style="font-size: 20px;color: rgb(255, 0, 0);"></i></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template #CrudOrigen>
    <div class="card">
      <div class="card-header">
        <h5>Crear Origen</h5>
      </div>
      <div class="card-body">
        <form (ngSubmit)="crearOrigen(origen)" #origen="ngForm" id="origen">
          <div class="form-group row">
            <label for="input" class="col-sm-2 col-form-label" style="width: 160px;"><a style="color: red;">(*)</a>
              N° Documento:</label>
            <div class="col-sm-9">
              <input type="text" ngModel class="form-control"
                [ngClass]="{'is-invalid': origen.submitted&&origen.controls['numerodocumentoemisor'].errors}"
                name="numerodocumentoemisor" placeholder="Ingrese el documento" required>
            </div>
          </div>
          <div class="form-group row">
            <label for="input" class="col-sm-2 col-form-label" style="width: 160px;"><a style="color: red;">(*)</a>
              Ubigeo:</label>
            <div class="col-sm-9">
              <input type="text" ngModel class="form-control"
                [ngClass]="{'is-invalid': origen.submitted&&origen.controls['ubigeoorigen'].errors}" name="ubigeoorigen"
                placeholder="Ingrese el codigo del local anexo" required>
            </div>
          </div>
          <div class="form-group row">
            <label for="input" class="col-sm-2 col-form-label" style="width: 160px;"><a style="color: red;">(*)</a>
              Dirección:</label>
            <div class="col-sm-9">
              <input type="text" ngModel class="form-control"
                [ngClass]="{'is-invalid': origen.submitted&&origen.controls['direccionorigen'].errors}"
                name="direccionorigen" placeholder="Ingrese la razón social" required>
            </div>
          </div>
          <div class="form-group row">
            <label for="input" class="col-sm-2 col-form-label" style="width: 160px;"><a style="color: red;">(*)</a>
              Local anexo:</label>
            <div class="col-sm-9">
              <input type="text" ngModel class="form-control"
                [ngClass]="{'is-invalid': origen.submitted&&origen.controls['codigolocalanexo'].errors}"
                name="codigolocalanexo" placeholder="Ingrese el codigo local anexo" required>
            </div>
          </div>
        </form>
        <div class="row mt-2">
          <div style="text-align: right;">
            <button class="btn btn-danger" style="width: 80px;margin-right: 5px;" (click)='salir()'>Salir</button>
            <button class="btn btn-success" style="width: 90px;" form="origen" type="submit">Aceptar</button>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
