<div class="wrapper">
  <app-navbar></app-navbar>
  <div class="card m-1">
    <div class="card-header">
      <div class="row m-0">
        <div class="col-sm-8">
          <h4>Gestion de usuarios</h4>
        </div>
        <div class="col-sm-4"><button class="btn btn-primary float-end" (click)="abrirModal(CrudVehiculos)">Agregar
            usuario</button></div>
      </div>
    </div>
    <div class="card-body">
      <div class="mb-1 col-12 m-0 row">
        <div class="col-md-12 col-sm-12 col-lg-10 col-xl-8 col-xxl-7 conborderasds">
          <div class="col-md-12 inter row" *ngFor="let item of usuarios;let i = index">
            <div class="col-sm-2 col-2">
              <div class="avatar bg-warning avatar-lg me-3">
                <span class="avatar-content">{{item.nombreusuario | slice:0:2}}</span>
              </div>
            </div>
            <div class="col-sm-10 col-10 col-md-3 d-flex align-items-center">
              <h6>{{item.nombres}}</h6>
            </div>
            <div class="col-sm-10 col-md-4 d-flex align-items-center">
              <h6>{{item.correoelectronico}}</h6>
            </div>
            <div class="col-md-3 col-sm-2">
              <div class="p-2 d-flex justify-content-end">
                <button class="btn btn-light me-2"><img src="../../../assets/usuario.png" width="36px"></button>
                <button class="btn btn-danger ms-2" (click)="eliminarUsuario(item.usuarioid)"><img
                    src="../../../assets/borrar-usuario.png" width="36px"></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #CrudVehiculos let-modal>
  <div class="modal-header">
    <h5>Agregar nuevo usuario</h5>
  </div>
  <div class="modal-body">
    <form class="margen-modal" (ngSubmit)="AgregarUsuario(vehicuref)" #vehicuref="ngForm" id="vehicuref">
      <div class="mb-3">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Nombre de usuario <span
              style="color: red;">(*)</span></label>
          <input type="text" ngModel name="nombreUserUsuario" class="form-control"
            placeholder="Ingrese el nombre del usuario (obligatorio)">
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Contraseña</label>
          <input type="password" ngModel name="contraseñaUsuario" class="form-control"
            placeholder="Ingrese una contraseña (obligatorio)">
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Nombres</label>
          <input type="text" ngModel name="nombreUsuario" class="form-control"
            placeholder="Ingrese el nombre completo (obligatorio)">
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Correo electronico</label>
          <input type="email" ngModel name="correoUsuario" class="form-control"
            placeholder="Ingrese un correo electronico (obligatorio)">
        </div>
        <hr>
        <!-- <h6>Agregar permisos</h6>
        <div class="col-md-12">
          <div class="col-12">
            <label class="mb-1" for="serie">Seleccione una serie</label>
            <select [(ngModel)]="serieNumero" name="serie" class="form-select">
              <option value="">Seleccione una serie</option>
              <option value="{{item.serie}}" *ngFor="let item of arraySerie">{{item.serie| slice : 0 : 4}}</option>
            </select>
          </div>


          <div class="col-12">
            <label class="mb-1" for="motivo">Seleccione un motivo</label>
            <select [(ngModel)]="motivo" name="motivo" class="form-select">
              <option value="">Seleccione un motivo</option>
              <option value="{{item.id}}" *ngFor="let item of arrayMotivo">{{item.descripcion}}</option>
            </select>
          </div>

          <button class="btn btn-success mt-2">Añadir permisos</button>
        </div> -->
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-danger" style="width: 80px;margin-right: 5px;" (click)='salir()'>Salir</button>
    <button class="btn btn-success" style="width: 90px;" form="vehicuref" type="submit">Aceptar</button>
  </div>
</ng-template>
