.avatar img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
.avatar.avatar-xl .avatar-content, .avatar.avatar-xl img {
  width: 60px;
  height: 60px;
  font-size: 1.4rem;
}
.avatar .avatar-content {
  width: 32px;
  height: 32px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .875rem;
}
.avatar .avatar-content svg, .avatar .avatar-content i {
  color: #fff;
  font-size: 1rem;
  height: 1rem;
}
.avatar.avatar-lg .avatar-content, .avatar.avatar-lg img {
  width: 48px;
  height: 48px;
  font-size: 1.2rem;
}
.avatar {
  display: inline-flex;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  position: relative;
}
.avatar.avatar-sm .avatar-content, .avatar.avatar-sm img {
  width: 24px;
  height: 24px;
  font-size: .8rem;
}
.conborderasds .inter{
  border-bottom: #cecece 1px solid;
}
.conborderasds .inter:last-child{
  border-bottom:none!important;
}
